<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="LoginConfig">
		<title>请输入服务器地址</title>
		<centered>1</centered>
		<pos>-1,-1</pos>
		<size>390,80</size>
		<font>
			<size>10</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Microsoft YaHei UI</face>
		</font>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxTextCtrl" name="ID_TEXTCTRL_ServerAddress" variable="ServerAddress" member="yes">
			<pos>32,22</pos>
			<size>248,26</size>
		</object>
		<object class="wxButton" name="ID_BUTTON_Confirm" variable="ServerAddressConfirm" member="yes">
			<label>确定</label>
			<default>1</default>
			<pos>304,22</pos>
			<size>60,26</size>
			<handler function="OnServerAddressConfirmClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT_Warning" variable="WarningText" member="yes">
			<label>请填写正确的IP地址</label>
			<pos>120,56</pos>
			<size>152,24</size>
			<hidden>1</hidden>
		</object>
	</object>
</wxsmith>
